# Disable server signature
ServerSignature Off
#ServerTokens Prod

# Prevent Libwww acces
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* ? [F,L]

# Redirect url
RewriteEngine on
RewriteCond %{HTTP_HOST} ^159\.253\.0\.82$ [NC]
RewriteCond %{HTTP_HOST} !^www.smaterial.dsuper.nl$ [NC]
RewriteRule ^(.*)$ http://www.smaterial.dsuper.nl/$1 [L,R=301]


ErrorDocument 404 /404.php
