$amp: true;
$allowed-colors: ('indigo', 'blue', 'shades', 'accent', /*'text'*/) !default;
$grid: (/*'hidden'*/) !default;
$flex-grid: (/*'order', 'hidden'*/) !default;
$normalize: (/*'scrollbar', 'selection',*/ 'helper-classes') !default;
$shadow-depths: ('0', '1', '2', '3', '4', '6', '8', '9', '10', '12', '16', '24') !default;
$icons: (/*'sizes'*/) !default;
$bottom-nav: ('bottom-nav', 'bottom-shifting') !default;
$bottom-sheet: ('header', 'grid', 'music') !default;
$button: ('raised', 'flat', 'floating', 'toggle', /*'ripple'*/) !default;
$chip: ('deletable', 'contact') !default;
$navigation-drawer: (/*'full-height', 'clipped', 'floating', 'persistent',*/ 'temporary') !default;
$notification: ('big-text', 'big-picture', 'progress', 'media') !default;
$progress: ('determinate', 'indeterminate', /*'buffer',*/ 'circular') !default;
$selection: ('checkbox', 'radio', 'switch') !default;
$slider: (/*'discrete'*/) !default;
$stepper: ('horizontal', 'vertical') !default;
$tab: ('tab', 'tab-icon', 'tab-icon-text') !default;
$textfield: ('floating', 'floating-dense', 'single', 'single-dense', 'multi') !default;
$typography: ('display-4', 'display-3', 'display-2', 'display-1', 'headline', 'title', 'subhead-1', 'subhead-2', 'body-1', 'body-2', 'caption', 'label',  'menu', 'button') !default;
@import 'smaterial';