/**************************************
 * AppBar
 *
 * http://www.google.com/design/spec/layout/structure.html#structure-app-bar
 * http://www.google.com/design/spec/layout/structure.html#structure-toolbars
 * TODO add "more menu" functions
 * TODO add search slide out input
 * TODO fix icon hover backgrounds to circles
 **************************************/

.sm-appbar {
	@extend .sm-row, .sm-z4;
	color: $appbar-text;
	background: $appbar-background;
	width: 100%;
	height: $appbar-small-height;
	line-height: normal;
	position: relative;
	z-index: 1;

	@media #{$small-up} {
		height: $appbar-medium-height;
	}

	@media #{$medium-up} {
		height: $appbar-large-height;
	}

	> div {
		height: $appbar-small-height;
		padding: 0 !important;

		@media #{$small-up} {
			height: $appbar-medium-height;
		}

		@media #{$medium-up} {
			height: $appbar-large-height;
		}

		a {
			color: $appbar-text;
		}
	}

	.sm-appbar-nav {
		@extend .sm-col, .sm-s2, .sm-m1;
	}

	.sm-appbar-title {
		@extend .sm-col, .sm-s6, .sm-m7, .sm-title;
		padding: $appbar-title-small-padding;
		font-size: $appbar-title-size;
		color: $appbar-title;

		@media #{$small-up} {
			padding: $appbar-title-medium-padding;
		}

		h1, h2, h3, h4, h5, h6 {
			padding: 0;
			margin: 0;
			font-size: $appbar-title-size;
			color: $appbar-title;
			line-height: normal;
		}
	}

	.sm-appbar-actions {
		@extend .sm-col, .sm-s3;
		.material-icons {
			float: right;

			&:hover {
				background: $appbar-hover;
			}
		}

		.sm-appbar-search {
			input {
				display: none;
			}
		}
	}

	.sm-appbar-menu {
		@extend .sm-col, .sm-s1;

		.material-icons {
			float: right;

			&:hover {
				background: $appbar-hover;
			}
		}
	}

	.material-icons {
		font-size: $appbar-icon-font-size;
		padding: $appbar-icon-small-padding;
		width: auto;
		height: auto;

		@media #{$small-up} {
			padding: $appbar-icon-medium-padding;
		}
	}
}