/**************************************
 * AppBar
 *
 * http://www.google.com/design/spec/layout/structure.html#structure-app-bar
 * http://www.google.com/design/spec/layout/structure.html#structure-toolbars
 **************************************/

.sm-appbar {
	@extend .sm-row, .sm-z4;
	color: $appbar-text;
	background: $appbar-background;
	width: 100%;
	height: $appbar-small-height;
	line-height: normal;
	position: relative;
	z-index: 1;

	@media #{$small-up} {
		height: $appbar-medium-height;
	}

	@media #{$medium-up} {
		height: $appbar-large-height;
	}

	> div {
		height: $appbar-small-height;
		padding: 0 !important;

		@media #{$small-up} {
			height: $appbar-medium-height;
		}

		@media #{$medium-up} {
			height: $appbar-large-height;
		}

		a {
			color: $appbar-text;
		}
	}

	.sm-appbar-nav {
		@extend .sm-col, .sm-s1;

		.material-icons {
			@media #{$small-up} {
				padding: remCalc(16px);
			}
		}
	}

	.sm-appbar-title {
		@extend .sm-col, .sm-s7, .sm-title;
		padding: remCalc(12px) 0 remCalc(12px) 0 !important;
		font-size: remCalc(24px);
		color: $appbar-title;

		@media #{$small-up} {
			padding: remCalc(20px) 0 remCalc(20px) 0 !important;
		}

		h1, h2, h3, h4, h5, h6 {
			padding: 0;
			margin: 0;
			font-size: remCalc(24px);
			color: $appbar-title;
			line-height: normal;
		}
	}

	.sm-appbar-actions {
		@extend .sm-col, .sm-s3;
		.material-icons {
			float: right;

			&:hover {
				background: $appbar-hover;
			}
		}

		.sm-appbar-search {
			input {
				display: none;
			}
		}
	}

	.sm-appbar-menu {
		@extend .sm-col, .sm-s1;

		.material-icons {
			float: right;

			&:hover {
				background: $appbar-hover;
			}
		}
	}

	.material-icons {
		font-size: remCalc(32px);
		padding: remCalc(8px);
		width: auto;
		height: auto;

		@media #{$small-up} {
			padding: remCalc(16px);
		}
	}
}