/**************************************
 * Bottom sheet / modal
 *
 * http://www.google.com/design/spec/components/bottom-sheets.html
 **************************************/

.sc-bottom-sheet {
	@extend .sc-z16;
	@include transition($bottom-sheet-small-transition);
	position: $bottom-sheet-position;
	background: $white;
    z-index: $bottom-sheet-z-index;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	overflow: hidden;
	padding: $bottom-sheet-padding;
	font-weight: $bottom-sheet-font-weight;
	font-size: $bottom-sheet-font-size;
	display: none;
	width: 100%;
	margin: 0 auto;

	@media #{$medium-only} {
		@include transition($bottom-sheet-medium-transition);
		width: 60%;
	}

	@media #{$large-up} {
		@include transition($bottom-sheet-large-transition);
		width: 40%;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			font-weight: $bottom-sheet-font-weight;
			font-size: $bottom-sheet-font-size;

			.material-icons {
				vertical-align: middle;
				height: auto;
				margin-right: $bottom-sheet-icons-margin;
				font-size: $bottom-sheet-icons-size;
				color: $bottom-sheet-icons-color;
			}
		}
	}

	&-header {
		padding: $bottom-sheet-header-padding;

		ul {
			li {
				&.sc-header {
					height: $bottom-sheet-header-height;
					color: $bottom-sheet-header-font-color;
				}

				&.sc-divider {
					margin: $bottom-sheet-header-divider-margin;
				}
			}
		}
	}

	&-grid {
		padding: $bottom-sheet-grid-padding;

		ul {
			li {
				height: $bottom-sheet-grid-height;
				margin-bottom: $bottom-sheet-grid-margin;

				&:last-of-type {
					margin-bottom: $bottom-sheet-grid-last-margin;
				}

				.sc-grid-item {
					@extend .sc-col, .sc-s6, .sc-m4;
					padding: 0;

					.sc-grid-icon {
						@extend .sc-center;

						.material-icons {
							vertical-align: middle;
							height: auto;
							font-size: $bottom-sheet-grid-icon-size;
							width: $bottom-sheet-grid-icon-size;
							margin: 0;
						}
					}

					.sc-grid-content {
						@extend .sc-center;
						height: $bottom-sheet-grid-content-size;
						line-height: $bottom-sheet-grid-content-size;
					}
				}
			}
		}
	}

	/*
	&-music {
		//@extend .sc-row;
		padding: 0;
		height: remCalc(48px);
		//margin: 0;

		figure {
			//@extend .sc-col, .sc-xs1, .sc-s2, .sc-m1;
			padding: 0 !important;
			margin: remCalc(-4px) 0 0 0;
			width: remCalc(50px);
			height: remCalc(50px);
			float: left;
			position: fixed;
		}

		.sc-info {
			float: left;
			margin: remCalc(2px) 0 0 remCalc(10px);
			//@extend .sc-col, .sc-xs2, .sc-s4, .sc-m8;

			.sc-band, .sc-track {
				width: 50%;
				//@extend .sc-col, .sc-xs4, .sc-s12;
			}

			.sc-band {
				font-size: remCalc(20px);
			}
		}
	} */
}