/**************************************
 * Buttons
 *
 * http://www.google.com/design/spec/components/buttons.html
 * http://www.google.com/design/spec/components/buttons-floating-action-button.html
 **************************************/

button, input[type="button"], input[type="reset"], input[type="submit"], a {
	&.sm-raised-button {
		@extend .sm-z2, .sm-button;
		@include transition($raised-transition);
		color: $raised-color;
		background: $raised-background;
		border: none;
		min-width: $raised-min-width;
		height: $raised-size;
		line-height: $raised-size;
		padding: $raised-padding;
		margin: $raised-margin;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		outline: none;
		position: relative;
		overflow: hidden;

		&:active {
			@extend .sm-z8;
		}

		&:hover {
			color: $raised-color-hover;
		}

		.material-icons {
			color: $raised-icon-color;
			line-height: $raised-size;
			vertical-align: middle;
			height: $raised-size;
			width: $raised-size;

			&.sm-left {
				margin-right: $raised-margin;
			}

			&.sm-right {
				margin-left: $raised-margin;
			}
		}

		&-dense {
			height: $raised-dense-size;
			line-height: $raised-dense-size;
			font-size: $raised-dense-font-size;

			.material-icons {
				line-height: $raised-dense-size;
				height: $raised-dense-size;
				width: $raised-dense-size;
			}
		}

		&-disabled {
			background: $raised-disabled-background;
			color: $raised-disabled-color;
			@extend .sm-z0;

			&:hover {
				@extend .sm-z0;
				background: $raised-disabled-background-hover;
				color: $raised-disabled-color-hover;
			}
		}
	}

	&.sm-flat-button {
		@extend .sm-button;
		color: $flat-color;
		background: none;
		border: none;
		min-width: $flat-min-width;
		height: $flat-size;
		line-height: $flat-size;
		padding: $flat-padding;
		margin: $flat-margin;
		outline: none;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;

		.material-icons {
			color: $flat-icon-color;
			line-height: $flat-size;
			vertical-align: middle;
			height: $flat-size;
			width: $flat-size;

			&.sm-left {
				margin-right: $flat-margin;
			}

			&.sm-right {
				margin-left: $flat-margin;
			}
		}

		/*&-dense {
			height: remCalc(32px);
			line-height: remCalc(32px);
			font-size: remCalc(13px);

			.material-icons {
				line-height: remCalc(32px);
				height: remCalc(32px);
				width: remCalc(32px);
			}
		}*/

		&-disabled {
			background: none;
			color: $flat-disabled-color;
		}
	}
}

button, a {
	&.sm-floating-button {
		@extend .sm-z6;
		@include transition($floating-transition);
		@include border-radius(50%);
		border: none;
		outline: none;
		width: $floating-size;
		height: $floating-size;
		background: $floating-background;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		line-height: $floating-size;
		cursor: pointer;

		&:hover {
			@extend .sm-z12;
		}


		.material-icons {
			height: $floating-icon-size;
			width: $floating-icon-size;
			vertical-align: middle;
			color: $floating-icon;
		}

		&-mini {
			width: $floating-mini-size;
			height: $floating-mini-size;
			line-height: $floating-mini-size;
		}
	}
}

.sm-toggle-button {
	border-radius: 50%;
	border: none;
	outline: none;
	width: remCalc(40px);
	height: remCalc(40px);
	color: $floating-icon;
	background: $floating-background;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	line-height: remCalc(40px);
	cursor: pointer;

	.material-icons {
		height: remCalc(24px);
		width: remCalc(24px);
		vertical-align: middle;
		color: $floating-icon;
	}
}