/**************************************
 * Buttons
 *
 * http://www.google.com/design/spec/components/buttons.html
 * http://www.google.com/design/spec/components/buttons-floating-action-button.html
 **************************************/

button, input[type="button"], input[type="reset"], input[type="submit"], a {
	&.sm-raised-button {
		@extend .sm-z2, .sm-button;
		@include transition($raised-transition);
		color: $raised-button-color;
		background: $raised-button-background;
		border: none;
		min-width: $raised-min-width;
		height: $raised-size;
		line-height: $raised-size;
		padding: $raised-padding;
		margin: $raised-margin;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		outline: none;

		&:active {
			@extend .sm-z8;
		}

		&:hover {
			color: $raised-button-color-hover;
		}

		.material-icons {
			color: $raised-icon-color;
			line-height: $raised-size;
			vertical-align: middle;
			height: $raised-size;
			width: $raised-size;

			&.sm-left {
				margin-right: $raised-margin;
			}

			&.sm-right {
				margin-left: $raised-margin;
			}
		}

		&-dense {
			height: $raised-dense-size;
			line-height: $raised-dense-size;
			font-size: $raised-dense-font-size;

			.material-icons {
				line-height: $raised-dense-size;
				height: $raised-dense-size;
				width: $raised-dense-size;
			}
		}

		&-disabled {
			background: $raised-disabled-background;
			color: $raised-disabled-color;
			@extend .sm-z0;

			&:hover {
				@extend .sm-z0;
				background: $raised-disabled-background-hover;
				color: $raised-disabled-color-hover;
			}
		}
	}

	&.sm-flat-button {
		@extend .sm-button;
		//@include transition(all 100ms ease-in-out);
		color: $flat-button-color;
		//color: rgba($black, .87);
		background: none;
		border: none;
		min-width: remCalc(88px);
		height: remCalc(36px);
		line-height: remCalc(36px);
		padding: 0 remCalc(16px);
		margin: remCalc(8px);
		outline: none;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		cursor: pointer;

		.material-icons {
			color: $flat-icon-color;
			line-height: remCalc(36px);
			vertical-align: middle;
			height: remCalc(36px);
			width: remCalc(36px);

			&.sm-left {
				margin-right: remCalc(8px);
			}

			&.sm-right {
				margin-left: remCalc(8px);
			}
		}

		&-dense {
			height: remCalc(32px);
			line-height: remCalc(32px);
			font-size: remCalc(13px);

			.material-icons {
				line-height: remCalc(32px);
				height: remCalc(32px);
				width: remCalc(32px);
			}
		}

		&-disabled {
			background: none;
			color: rgba($black, .26);
		}
	}
}

button, a {
	&.sm-floating-button {
		@extend .sm-z6;
		@include transition(all 100ms ease-in-out);
		border-radius: 50%;
		border: none;
		outline: none;
		width: remCalc(56px);
		height: remCalc(56px);
		background: $floating-button-background;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		line-height: remCalc(56px);
		cursor: pointer;

		&:hover {
			@extend .sm-z12;
		}


		.material-icons {
			height: remCalc(24px);
			width: remCalc(24px);
			vertical-align: middle;
			color: $floating-button-icon;
		}

		&-mini {
			width: remCalc(40px);
			height: remCalc(40px);
			line-height: remCalc(40px);
		}
	}

	&.sm-dropdown-button {

	}
}

.sm-toggle-button {
	border-radius: 50%;
	border: none;
	outline: none;
	width: remCalc(40px);
	height: remCalc(40px);
	color: $floating-button-icon;
	background: $floating-button-background;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	line-height: remCalc(40px);
	cursor: pointer;

	.material-icons {
		height: remCalc(24px);
		width: remCalc(24px);
		vertical-align: middle;
		color: $floating-button-icon;
	}
}