/**************************************
 * Remove default styles
 **************************************/

html, body {
	margin: 0;
	padding: 0;

	div {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	a {
		color: $link-color;
		text-decoration: none;
		outline: none;

		&:hover {
			color: $link-hover;
		}

		img {
			outline: none;
		}
	}

	main {
		position: absolute;
		padding: remCalc($gutter);
		right: 0;
		bottom: 0;
		top: remCalc(48px);
		left: 0;
		overflow: auto;

		@media #{$small-up} {
			top: remCalc(56px);

		}

		@media #{$medium-up} {
			left: $sidenav-width;
			top: remCalc(64px);
		}
	}

	div, header, main, footer {
		-webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;
		-moz-transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;
		-o-transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;
		transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;

		::-moz-selection { background: $cyan-a100; }
		::selection { background: $cyan-a100; }
	}

	.sm-circle {
		border-radius: 50%;
	}

	.sm-left {
		float: left;
	}

	.sm-right {
		float: right;
	}

	.sm-center {
		text-align: center;
		vertical-align: middle;
	}

	/**********************************
	 * Default list style
	 **********************************/

	ul, ol {
		li {
			font-weight: 500;
			font-size: remCalc(14px);
			color: lighten($black, (100% - 87%));
			height: auto;
			line-height: remCalc(48px);

			a {
				font-weight: 500;
				font-size: remCalc(14px);
				color: lighten($black, (100% - 87%));
				height: remCalc(48px);
				line-height: remCalc(48px);
			}
		}
	}
}

