/**************************************
 * Remove default styles
 **************************************/

html, body {
	margin: 0;
	padding: 0;

	div {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	a {
		text-decoration: none;
		outline: none;

		img {
			outline: none;
		}
	}

	main {
		position: absolute;
		padding: remCalc($gutter);

		@media #{$medium-down} {
			left: remCalc($sidenav-small-width);
			right: 0;
		}

		@media #{$medium-up} {
			left: remCalc($sidenav-width);
			right: 0;
		}
	}

	* {
		-webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;
		-moz-transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;
		-o-transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;
		transition: width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out, top 300ms ease-in-out, padding 300ms ease-in-out;

		::-moz-selection { background: $cyan-a100; }
		::selection { background: $cyan-a100; }
	}

	.sm-circle {
		border-radius: 50%;
	}

	.sm-left {
		float: left;
	}

	.sm-right {
		float: right;
	}

	/**********************************
	 * Default list style
	 **********************************/

	ul {
		li, ol {
			font-weight: 500;
			font-size: remCalc(14px);
			color: rgba($black, .87);
			height: remCalc(48px);
			line-height: remCalc(48px);

			a {
				font-weight: 500;
				font-size: remCalc(14px);
				color: rgba($black, .87);
				height: remCalc(48px);
				line-height: remCalc(48px);
			}
		}
	}
}

