/**************************************
 * Progress & activity
 *
 * http://www.google.com/design/spec/components/progress-activity.html
 **************************************/

.sc-determinate, .sc-indeterminate, .sc-buffer {
	width: 100%;
	height: rem-calc(5px);
	position: relative;
}

.sc-determinate {
	background: $progressbar-background;
}

.sc-progressbar {
	background: $progress-background;
	@include transition(width $transition-small-duration $basic-transition);
	bottom: 0;
	position: absolute;
	top: 0;
	width: 0%;
}

.sc-indeterminate {
	background: $progressbar-background;
	overflow: hidden;

	.sc-progressbar {
		width: 60%;
		@include animation(indeterminate 1.5s  cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite);
		@include keyframes(indeterminate) {
			0% {
				left: 0;
				width: 0%;
			}

			25% {
				width: 60%;
			}

			50% {
				width: 60%;
			}

			75% {
				left: 75%;
				width: 60%;
			}

			100% {
				left: 100%;
				width: 0%;
			}
		}
	}
}

.sc-buffer {
	overflow: hidden;

	> div {
		display: inline-block;
	}

	.sc-buffer-progress {
		background: $progressbar-background;
		bottom: 0;
		position: absolute;
		top: 0;
	}

	.sc-buffering {
		background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,$main-color,$main-color);
		bottom: 0;
		position: absolute;
		@include mask(url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTBweCIgdmlld1BvcnQ9IjAgMCAxMiA0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGVsbGlwc2UgY3g9IjIiIGN5PSIyIiByeD0iMiIgcnk9IjIiPjwvZWxsaXBzZT48ZWxsaXBzZSBjeD0iMTQiIGN5PSIyIiByeD0iMiIgcnk9IjIiIGNsYXNzPSJsb2FkZXIiPjwvZWxsaXBzZT48L3N2Zz4='));
		top: 0;
		@include animation(buffer 1.5s infinite);
		@include keyframes(buffer) {
			0% {
				width: 200%;
				left: 0;
			}
			100% {
				left: 100%;
			}
		}
	}
}

.sc-circular {
	height: rem-calc(100px);
	width: rem-calc(100px);

	@include animation(rotate 2s linear infinite);

	@include keyframes(rotate) {
		100% {
			@include transform(rotate(360deg));
		}
	}

	&-determinate {

	}
}