input[type="checkbox"] {
	&.sm-checkbox {
		display: none;

		+ label {
			&:before {
				@extend .material-icons;
				display: inline-block;
				content: 'check_box_outline_blank';
				width: $selection-size;
				height: $selection-size;
				vertical-align: middle;
				line-height: $selection-size;
				margin-right: $selection-margin;
				color: lighten($black, (100% - 54%));

			}
		}

		// TODO add hover
		&:checked {
			+ label {
				&:before {
					content: 'check_box';
					color: $selection-color;
				}
			}
		}

		&-disabled {
			+ label {
				&:before {
			 		color: lighten($black, (100% - 26%));
				}
			}

			&:checked {
				+ label {
					&:before {
						content: 'check_box';
						color: lighten($black, (100% - 26%));
					}
				}
			}
		}
	}
}

input[type="radio"] {
	&.sm-radio {
		display: none;

		+ label {
			&:before {
				@extend .material-icons;
				display: inline-block;
				content: 'radio_button_unchecked';
				width: $selection-size;
				height: $selection-size;
				vertical-align: middle;
				line-height: $selection-size;
				margin-right: $selection-margin;

			}
		}

		&:checked {
			+ label {
				&:before {
					content: 'radio_button_checked';
					color: $selection-color;
				}
			}
		}

		&-disabled {
			+ label {
				&:before {
					color: lighten($black, (100% - 26%));
				}
			}

			&:checked {
				+ label {
					&:before {
						content: 'check_box';
						color: lighten($black, (100% - 26%));
					}
				}
			}
		}
	}
}