/**************************************
********** Table of Contents **********
***************************************
- Colors
- Global
- Typography
	- Font path
	- Colors
- Appbar
	- Basic
	- Colors
	- Title
	- Icons
	- Element widths
	- More menu
- Bottom navigation
	- Normal
		- Basic
		-
	- Shifting
- Bottom sheet
- Buttons
- Cards
- Chips
- Dialogs
- Grid
- Icons
- Progress
- Selection
- Navigation drawer / sidebar
- Sliders
- Snackbars & Toasts
- Tables
- Tabs
- Text fields
- Tooltips


/**************************************
 * Colors
 **************************************/
/*
 * Add / remove colors you would like to use in CSS
 * NOTE In SCSS all color variables stay accessible
 *
 * All colors below
 * 	$allowed-colors: (
 		'red', 'pink', 'purple', 'deep-purple', 'indigo', 'blue', 'light-blue', 'cyan', 'teal', 'green', 'light-green', 'lime',
 		'yellow', 'amber', 'orange', 'deep-orange', 'brown', 'grey', 'blue-grey', 'shades');
 */

$allowed-colors: (
	'red', 'pink', 'purple', 'deep-purple', 'indigo', 'blue', 'light-blue', 'cyan', 'teal', 'green', 'light-green',
	'lime', 'yellow', 'amber', 'orange', 'deep-orange', 'brown', 'grey', 'blue-grey', 'shades');

@import 'colors';

$main-color: $indigo;
$secondary-color: $blue;

$link-color: $main-color;
$link-hover: $secondary-color;

/**************************************
 * Global
 **************************************/
$theme: light; // Default either light or dark
$select-background: $cyan-a200; // Default $cyan-a200
$basic-transition: cubic-bezier(0.4, 0.0, 0.2, 1); // Default cubic-bezier(0.4, 0.0, 0.2, 1)
$element-enter-transition: cubic-bezier(0.0, 0.0, 0.2, 1); // Default cubic-bezier(0.0, 0.0, 0.2, 1)
$element-exit-transition: cubic-bezier(0.4, 0.0, 1, 1); // Default cubic-bezier(0.4, 0.0, 1, 1)
$returning-transition: cubic-bezier(0.0, 0.0, 0.2, 1); // Default cubic-bezier(0.0, 0.0, 0.2, 1)
$transition-small-duration: 300ms; // Default 300ms
$transition-medium-duration: 390ms; // Default 390ms
$transition-large-duration: 200ms; // Default 200ms
$background: $white; // Default $white
$text-direction: ltr; // Default either ltr or rtl

/**************************************
 * Typography settings
 **************************************/
// Font paths
$roboto-font-path: '/stylesheets/scss/components/fonts/Roboto/';
$noto-font-path: '/stylesheets/scss/components/fonts/Noto/';

// Font size
$font-size: 14; //px Default 14 or 15

// Color
$font-color-display-4: rgba($black, .54); // Default rgba($black, .54)
$font-color-display-3: $font-color-display-4; // Default $font-color-display-4
$font-color-display-2: $font-color-display-4; // Default $font-color-display-4
$font-color-display-1: $font-color-display-4; // Default $font-color-display-4
$font-color-headline: rgba($black, .87); // Default rgba($black, .87)
$font-color-title: $font-color-headline; // Default $font-color-headline
$font-color-subhead: $font-color-headline; // Default $font-color-headline
$font-color-body-2: $font-color-headline; // Default $font-color-headline
$font-color-body-1: $font-color-headline; // Default $font-color-headline
$font-color-caption: $font-color-display-4; // Default $font-color-display-4
$font-color-label: $font-color-display-4; // Default $font-color-display-4
$font-color-menu: $font-color-headline; // Default $font-color-headline
$font-color-button: $font-color-headline; // Default $font-color-headline

/**************************************
 * AppBar
 **************************************/
// Basic (Don't change these, they influence the drawer (sidenav) as well)
$appbar-small-height: rem-calc(48px); // Default rem-calc(48px)
$appbar-medium-height: rem-calc(56px); // Default rem-calc(56px)
$appbar-large-height: rem-calc(64px); // Default rem-calc(64px)

// Colors
$appbar-background: $main-color; // Default $main-color
$appbar-text: $white; // Default $white
$appbar-title: $white; // Default $white

/**************************************
 * Bottom navigation
 **************************************/
/******************
 * Normal
 ******************/
// Basic
$bottom-nav-width-small: 100%; // Default 100%;
$bottom-nav-width-large: $bottom-nav-width-small; // Default $bottom-nav-width-small
$bottom-nav-background: $main-color; // Default $main-color
$bottom-nav-position: fixed; // Default fixed
$bottom-nav-height: rem-calc(56px); // Default rem-calc(56px)

// Items
$bottom-nav-item-max-width: rem-calc(168px); // Default rem-calc(168px);
$bottom-nav-item-min-width-small: rem-calc(104px); // Default rem-calc(104px)
$bottom-nav-item-min-width-large: rem-calc(120px); // Default rem-calc(120px)
$bottom-nav-padding: rem-calc(8px) rem-calc(12px) rem-calc(10px) rem-calc(12px); // Default rem-calc(8px) rem-calc(12px) rem-calc(10px) rem-calc(12px)
$bottom-nav-padding-active: rem-calc(6px) rem-calc(12px) rem-calc(10px) rem-calc(12px); // Default rem-calc(6px) rem-calc(12px) rem-calc(10px) rem-calc(12px)
$bottom-nav-font-size: rem-calc(12px); // Default rem-calc(12px)
$bottom-nav-font-color: $white; // Default $white
$bottom-nav-font-size-active: rem-calc(14px); // Default rem-calc(14px)
$bottom-nav-icon-size: rem-calc(24px); // Default rem-calc(24px)

$bottom-shifting-width-small: $bottom-nav-width-small; // Default $bottom-nav-width-small
$bottom-shifting-width-large: $bottom-nav-width-small; // Default $bottom-nav-width-small
$bottom-shifting-background: $bottom-nav-background; // Default $bottom-nav-background
$bottom-shifting-position: $bottom-nav-position; // Default $bottom-nav-position
$bottom-shifting-max-width: rem-calc(96px); // Default rem-calc(96px)
$bottom-shifting-max-width-active:  rem-calc(168px); // Default rem-calc(168px)
$bottom-shifting-min-width: rem-calc(64px); // Default rem-calc(64px)
$bottom-shifting-min-width-active: rem-calc(96px); // Default rem-calc(96px)
$bottom-shifting-font-color: $bottom-nav-font-color; // Default $bottom-nav-font-color
$bottom-shifting-height: $bottom-nav-height; // Default $bottom-nav-height
$bottom-shifting-icon-size: $bottom-nav-icon-size; // Default $bottom-nav-icon-size
$bottom-shifting-padding: rem-calc(16px) 0; // Default rem-calc(16px) 0
$bottom-shifting-padding-active: rem-calc(6px) 0 rem-calc(10px) 0; // Default rem-calc(6px) 0 rem-calc(10px) 0
$bottom-shifting-font-size: rem-calc(14px); // Default rem-calc(14px)

/**************************************
 * Bottom sheet
 **************************************/
$bottom-sheet-small-transition: height $transition-small-duration $returning-transition; // Default height $transition-small-duration $returning-transition
$bottom-sheet-medium-transition: height $transition-medium-duration $returning-transition; // Default height $transition-medium-duration $returning-transition
$bottom-sheet-large-transition: height $transition-large-duration $returning-transition; // Default height $transition-large-duration $returning-transition
$bottom-sheet-position: fixed; // Default fixed
$bottom-sheet-background: $white;
$bottom-sheet-z-index: 4; // Default 4
$bottom-sheet-padding: rem-calc(8px) rem-calc(16px); // Default rem-calc(8px) rem-calc(16px)
$bottom-sheet-font-weight: 400; // Default 400
$bottom-sheet-font-size: rem-calc(16px); // Default rem-calc(16px)

$bottom-sheet-icons-margin: rem-calc(32px); // Default renCalc(32px)
$bottom-sheet-icons-size: rem-calc(24px); // Default rem-calc(24px)
$bottom-sheet-icons-color: lighten($black, 100% - 54%); // Default lighten($black, 100% - 54%)

// Header
$bottom-sheet-header-padding: 0 rem-calc(16px) rem-calc(8px) rem-calc(16px); // Default 0 rem-calc(16px) rem-calc(8px) rem-calc(16px)
$bottom-sheet-header-height: rem-calc(56px); // Default rem-calc(56px)
$bottom-sheet-header-font-color: lighten($black, 100% - 54%); // Default lighten($black, 100% - 54%)
$bottom-sheet-header-divider-margin: rem-calc(7px) rem-calc(-16px) rem-calc(8px) rem-calc(-16px); // Default rem-calc(7px) rem-calc(-16px) rem-calc(8px) rem-calc(-16px)

// Grid
$bottom-sheet-grid-padding: rem-calc(16px) rem-calc(24px) rem-calc(24px) rem-calc(24px); // Default rem-calc(16px) rem-calc(24px) rem-calc(24px) rem-calc(24px)
$bottom-sheet-grid-height: rem-calc(64px); // Default rem-calc(64px)
$bottom-sheet-grid-margin: 0 0 rem-calc(16px) 0; // Default 0 0 rem-calc(16px) 0
$bottom-sheet-grid-last-margin: 0; // Default 0
$bottom-sheet-grid-icon-size: rem-calc(48px); // Default rem-calc(48px)
$bottom-sheet-grid-content-size: rem-calc(16px); // Default rem-calc(16px)

/**************************************
 * Buttons
 **************************************/
$raised-background: $main-color; // Default $main-color
$raised-background-hover: color($main-color, 700); // Default color($main-color, 700)
$raised-font-color: $white; // Default $white
$raised-icon-color: $raised-font-color; // Default $raised-font-color
$raised-disabled-background: if( $theme == light, rgba($black, .12), rgba($white, .12) ); // Default if( $theme == light, rgba($black, .12), rgba($white, .12) )
$raised-disabled-font-color: if( $theme == light, rgba($black, .3), rgba($white, .3) ); // Default if( $theme == light, rgba($black, .3), rgba($white, .3) )

$flat-color: $main-color; // Default $main-color
$flat-icon-color: $main-color; // Default $main-color
$flat-active-background: if( $theme == light, rgba(153, 153, 153, .4), rgba(204, 204, 204, .25) ); // Default if( $theme == light, rgba(153, 153, 153, .4), rgba(204, 204, 204, .25) )
$flat-disabled-color: if( $theme == light, rgba($black, .26), rgba($white, .3) ); // Default if( $theme == light, rgba($black, .26), rgba($white, .3) )

$floating-background: $main-color; // Default $main-color
$floating-icon-color: $white; // Default $white

/**************************************
 * Chips
 **************************************/
$chips-font-color: $font-color-headline; // Default $font-color-headline
$chips-font-hover-color: $white; // Default $white
$chips-background: $grey-200; // Default $grey-200
$chips-background-hover: $grey-600; // Default $grey-600
$chips-delete-cross: $chips-background; // Default $chips-background
$chips-delete-cross-hover: $chips-background-hover; // Default $chips-background-hover
$chips-delete-background: rgba($black, .54); // Default rgba($black, .54)
$chips-delete-background-hover: $chips-font-hover-color; // Default $chips-font-hover-color

/**************************************
 * Progress & activity
 **************************************/
$progressbar-background: rgba($main-color, .4); // Default rgba($main-color, .4)
$progress-background: $main-color; // Default $main-color

/**************************************
 * Selection controls
 **************************************/
$checkbox-color: lighten($black, (100% - 54%));
$checkbox-color-checked: $main-color; // Default $main-color
$checkbox-size: rem-calc(18.2px); // Default rem-calc(18.2px)
$checkbox-margin: rem-calc(2.8px); // Default rem-calc(2.8px)
$checkbox-disabled-color: lighten($black, (100% - 26%)); // Default lighten($black, (100% - 26%));

$radio-color: $main-color; // Default $main-color
$radio-size: $checkbox-size; // Default rem-calc(18.2px)
$radio-margin: $checkbox-margin; // Default rem-calc(20px)
$radio-disabled-color: $checkbox-disabled-color; // Default $checkbox-disabled-color

// Switch
$switch-track-background: if( $theme == light, rgba($black, .38), rgba($white, .3) ); // Default if( $theme == light, rgba($black, .38), rgba($white, .3) )
$switch-track-background-active: if( $theme == light, rgba($main-color, .5), rgba(color($main-color, 200), .5) ); // Default if( $theme == light, rgba($main-color, .5), rgba(color($main-color, 200), .5) )
$switch-thumb-background: if( $theme == light ,rgba($grey-50, 1), rgba($grey-400, 1) ); // Default if( $theme == light ,rgba($grey-50, 1), rgba($grey-400, 1) )
$switch-thumb-background-active: if( $theme == light, rgba($main-color, 1), rgba(color($main-color, 200), 1) ); // Default if( $theme == light, rgba($main-color, 1), rgba(color($main-color, 200), 1) )
$switch-thumb-radial-background: if( $theme == light, rgba($grey-400, .2), rgba($grey-400, .2) ); // Default if( $theme == light, rgba($grey-400, .2), rgba($grey-400, .2) )
$switch-thumb-radial-background-active: if( $theme == light, rgba($main-color, .2), rgba(color($main-color, 200), .2) ); // Default if( $theme == light, rgba($main-color, .2), rgba(color($main-color, 200), .2) )
$switch-track-disabled-background: if( $theme == light, rgba($black, .12), rgba($white, .1) ); // Default if( $theme == light, rgba($black, .12), rgba($white, .1) )
$switch-thumb-disabled-background: if( $theme == light, rgba($grey-400, 1), rgba($grey-800, 1) ); // Default if( $theme == light, rgba($grey-400, 1), rgba($grey-800, 1) )
$switch-thumb-radial-disabled-background: rgba($grey-400, .2); // Default rgba($grey-400, .2)


/**************************************
 * Snackbars and toasts
 **************************************/
$snackbar-background: rgba(#323232, 1); // Default rgba(#323232, 1)
$snackbar-font-color: $white; // Default $white

/**************************************
 * Navigation drawer
 **************************************/
$drawer-position: fixed; // Default fixed
$drawer-overflow: auto; // Default auto
$drawer-background: $white; // Default $white
$drawer-padding: rem-calc(16px) 0; // Default rem-calc(16px) 0
$drawer-hover: $main-color; // Default $main-color
$drawer-width: rem-calc(320px); // Default rem-calc(320px)
$drawer-max-width: rem-calc(400px); // Default rem-calc(400px)
$drawer-small-width: rem-calc(320px); // Default rem-calc(320px)
$drawer-small-max-width: rem-calc(320px); // Default rem-calc(320px)
$drawer-small-margin-right: rem-calc(56px); // Default rem-calc(56px)
$drawer-sub-list-margin: 0 0 0 rem-calc(10px); // Default 0 0 0 rem-calc(10px)
$drawer-icons-font-size: rem-calc(22.4px); // Default rem-calc(22.4px)
$drawer-icons-size: rem-calc(48px); // Default rem-calc(48px) Should be the same as default list item height
$drawer-icons-color: lighten($black, (100% - 54%)); // Default lighten($black, (100% - 54%))

$drawer-full-small-top: $appbar-small-height; // Default $appbar-small-height
$drawer-full-medium-top: $appbar-medium-height; // Default $appbar-medium-height
$drawer-full-large-top: 0; // Default 0
$drawer-full-title-height: rem-calc(64px); // Default rem-calc(64px)
$drawer-full-title-size: rem-calc(24px); // Default rem-calc(24px)
$drawer-full-title-margin: rem-calc(-16px) 0 0 0; // Default rem-calc(-16px) 0 0 0
$drawer-full-title-background: $main-color !important; // Default $main-color
$drawer-full-title-color: $white; // Default $white
$drawer-full-profile-medium-margin: - rem-calc(16px) 0 rem-calc(8px) 0 !important; // Default - rem-calc(16px) 0 rem-calc(8px) 0 !important
$drawer-full-profile-large-margin: 0 0 rem-calc(8px) 0 !important; // Default 0 0 rem-calc(8px) 0 !important

$drawer-floating-small-top: $appbar-small-height; // Default $appbar-small-height
$drawer-floating-medium-top: rem-calc(56px); // Default rem-calc(56px)
$drawer-floating-large-top: rem-calc(64px); // Default rem-calc(64px)
$drawer-floating-z-index: 3; // Default 3

$drawer-right-max-width: 100%; // Default 100%
$drawer-right-small-top: $appbar-small-height; // Default $appbar-small-height
$drawer-right-medium-top: $appbar-medium-height; // Default $appbar-medium-height
$drawer-right-large-top: $appbar-large-height; // Default $appbar-large-height

$drawer-divider-margin: rem-calc(8px) 0; // Default rem-calc(8px) 0
$drawer-divider-height: rem-calc(1px); // Default rem-calc(1px)
$drawer-divider-background: lighten($black, (100% - 12%)); // Default lighten($black, (100% - 12%))

$drawer-subheader-color: lighten($black, (100% - 54%)); // Default

$drawer-profile-background: url('/images/drawer-background.jpg') no-repeat center;

$drawer-font-weight: 500; // Default 500
$drawer-hover-background: $grey-200;

$drawer-profile-margin: rem-calc(-16px) 0 rem-calc(8px) 0; // Default rem-calc(-16px) 0 rem-calc(8px) 0
$drawer-profile-padding: rem-calc(16px) rem-calc(16px) rem-calc(8px) rem-calc(16px); // Default rem-calc(16px) rem-calc(16px) rem-calc(8px) rem-calc(16px)
$drawer-profile-img-size: rem-calc(50px); // Default rem-calc(50px)
$drawer-profile-img-margin: 0 0 rem-calc(5px) 0;
$drawer-profile-info-total-height: rem-calc(56px); // Default rem-calc(56px)
$drawer-profile-info-height: $drawer-profile-info-total-height / 2;
$drawer-profile-info-font-color: $white; // Default $white
$drawer-profile-info-font-size: rem-calc(14px); // Default rem-calc(14px)
$drawer-profile-scrim: to top, rgba($grey-900, 0.4) 15%, rgba($white, 0) 33%; // Default to top, rgba($grey-900, 0.4) 15%, rgba($white, 0) 33%

/**************************************
 * Sliders
 **************************************/
// Track
$slider-track-height: rem-calc(1.5px); // Default rem-calc(1.5px)
$slider-track-background: lighten($black, (100% - 26%)); // Default lighten($black, (100% - 26%));
$slider-track-active-background: $main-color; // Default $main-color
$slider-track-small-transition: background $transition-small-duration $basic-transition; // Default background $transition-small-duration $basic-transition
$slider-track-medium-transition: background $transition-medium-duration $basic-transition; // Default background $transition-medium-duration $basic-transition
$slider-track-large-transition: background $transition-large-duration $basic-transition; // Default background $transition-large-duration $basic-transition
$slider-range-track-margin: rem-calc(-27px) 0 0 0; // Default rem-calc(-27px) 0 0 0
$slider-range-track-before: $slider-track-active-background; // Default $slider-track-active-background
$slider-range-track-after: $slider-track-background; // Default $slider-track-background
$slider-range-track-before-disabled: $slider-track-background; // Default $slider-track-background

// Thumb
$slider-thumb-background: $white; // Default $white
$slider-thumb-size: rem-calc(14px); // Default rem-calc(14px)
$slider-thumb-border: rem-calc(2px) solid $slider-track-background; // Default rem-calc(2px) solid $slider-track-background
$slider-thumb-margin: rem-calc(-6px) 0 0 0; // Default rem-calc(-6px) 0 0 0
$slider-disabled-thumb-background: $white; // Default $white
$slider-disabled-thumb-border: $slider-thumb-border; // Default $slider-thumb-border
$slider-thumb-active-background: $slider-track-active-background; // Default $slider-track-active-background
$slider-thumb-active-border: rem-calc(2px) solid $slider-thumb-active-background; // Default rem-calc(2px) solid $slider-thumb-active-background
$slider-thumb-active-size: rem-calc(16px); // Default rem-calc(16px)
$slider-thumb-active-margin: rem-calc(-7px) 0 0 0; // Default rem-calc(-7px) 0 0 0
$slider-thumb-disabled-background: $slider-track-background; // Default $slider-track-background
$slider-thumb-disabled-size: $slider-thumb-size; // Default $slider-thumb-size
$slider-thumb-disabled-border: rem-calc(2px) solid $white; // Default rem-calc(2px) solid $white
$slider-thumb-disabled-margin: $slider-thumb-margin; // Default rem-calc(-6px) 0 0 0
$slider-thumb-disabled-not-null-background: $slider-thumb-disabled-background; // Default $slider-thumb-background
$slider-thumb-disabled-not-null-border: $slider-thumb-disabled-border; // Default $slider-thumb-disabled-border
$slider-thumb-disabled-discrete-background: transparent; // Default transparent
$slider-thumb-disabled-discrete-border: rem-calc(2px) solid $slider-thumb-disabled-discrete-background; // Default$slider-thumb-disabled-discrete-background
$slider-thumb-not-null-background: $slider-thumb-active-background; // Default $slider-thumb-active-background
$slider-thumb-not-null-border: $slider-thumb-active-border; // $slider-thumb-active-border
$slider-thumb-not-null-size: $slider-thumb-size; // Default $slider-thumb-size
$slider-thumb-not-null-margin: $slider-thumb-margin; // Default $slider-thumb-margin
$slider-thumb-not-null-active-size: $slider-thumb-active-size; // Default $slider-thumb-active-size
$slider-thumb-not-null-active-margin: $slider-thumb-active-margin; // Default $slider-thumb-active-margin
$slider-discrete-thumb-hidden-background: $slider-thumb-disabled-discrete-background; // Default $slider-thumb-disabled-discrete-background
$slider-discrete-thumb-hidden-border: rem-calc(2px) solid $slider-discrete-thumb-hidden-background; // Default rem-calc(2px) solid $slider-discrete-thumb-hidden-background
$slider-thumb-small-transition: background $transition-small-duration $basic-transition unquote(',')
								border $transition-small-duration $basic-transition unquote(',')
								height $transition-small-duration $basic-transition unquote(',')
								width $transition-small-duration $basic-transition unquote(',')
								margin $transition-small-duration $basic-transition; // Default background $transition-small-duration $basic-transition unquote(',') border $transition-small-duration $basic-transition unquote(',') height $transition-small-duration $basic-transition unquote(',') width $transition-small-duration $basic-transition unquote(',') margin $transition-small-duration $basic-transition
$slider-thumb-medium-transition: 	background $transition-medium-duration $basic-transition unquote(',')
									border $transition-medium-duration $basic-transition unquote(',')
									height $transition-medium-duration $basic-transition unquote(',')
									width $transition-medium-duration $basic-transition unquote(',')
									margin $transition-medium-duration $basic-transition; // Default background $transition-medium-duration $basic-transition unquote(',') border $transition-medium-duration $basic-transition unquote(',') height $transition-medium-duration $basic-transition unquote(',') width $transition-medium-duration $basic-transition unquote(',') margin $transition-medium-duration $basic-transition
$slider-thumb-large-transition: background $transition-large-duration $basic-transition unquote(',')
								border $transition-large-duration $basic-transition unquote(',')
								height $transition-large-duration $basic-transition unquote(',')
								width $transition-large-duration $basic-transition unquote(',')
								margin $transition-large-duration $basic-transition; // Default background $transition-large-duration $basic-transition unquote(',') border $transition-large-duration $basic-transition unquote(',') height $transition-large-duration $basic-transition unquote(',') width $transition-large-duration $basic-transition unquote(',') margin $transition-large-duration $basic-transition

// Bubble
$slider-bubble-background: $black; // Default $black
$slider-bubble-font-color: $white; // Default $white
$slider-bubble-size: $slider-thumb-size; // Default $slider-thumb-size
$slider-bubble-border: rem-calc(2px) solid $slider-bubble-background; // Default rem-calc(2px) solid $slider-bubble-background
$slider-bubble-bottom: rem-calc(-25px); // Default rem-calc(-25px)
$slider-bubble-disabled-background: $slider-track-background; // Default $slider-track-background
$slider-bubble-disabled-border: $slider-thumb-disabled-border;
$slider-bubble-not-null-background: $slider-track-active-background; // Default $slider-track-active-background
$slider-bubble-not-null-font-color: $slider-bubble-font-color; // Default $slider-bubble-font-color
$slider-bubble-not-null-border: rem-calc(2px) solid $slider-track-active-background; // Default rem-calc(2px) solid $slider-track-active-background
$slider-bubble-active-background: $slider-track-background; // Default $slider-track-background
$slider-bubble-active-font-color: $slider-bubble-font-color; // Default $slider-bubble-font-color
$slider-bubble-active-size: rem-calc(25px); // Default rem-calc(25px)
$slider-bubble-active-font-size: rem-calc(10px); // Default 10px
$slider-bubble-active-bottom: rem-calc(1.4px); // Default rem-calc(1.4px)
$slider-bubble-active-margin: 0 0 0 rem-calc(-12.5px); // Default 0 0 0 rem-calc(-12.5px)
$slider-bubble-active-not-null-background: $slider-track-active-background; // Default $slider-track-active-background
$slider-bubble-active-not-null-font-size: $slider-bubble-active-font-size; // Default $slider-bubble-active-font-size
$slider-bubble-active-disabled-background: $slider-track-background; // Default $slider-track-background
$slider-triangle-active-border-hidden: rem-calc(10px) solid transparent; // Default rem-calc(10px) solid transparent
$slider-triangle-active-border-top: rem-calc(10px) solid $slider-track-background; // Default rem-calc(10px) solid $slider-track-background
$slider-triangle-active-top: rem-calc(21px); // Default rem-calc(21px)
$slider-triangle-active-right: rem-calc(3.5px); // Default rem-calc(3.5px);
$slider-triangle-active-not-null-border-top: rem-calc(10px) solid $slider-track-active-background; // Default rem-calc(10px) solid $slider-track-active-background
$slider-triangle-active-disabled-border: $slider-triangle-active-border-hidden; // Default $slider-triangle-active-border-hidden
$slider-triangle-active-disabled-border-top: rem-calc(10px) solid $slider-track-background; // Default rem-calc(10px) solid $slider-track-background

$slider-bubble-small-transition: 	background $transition-small-duration $basic-transition unquote(',')
									width $transition-small-duration $basic-transition unquote(',')
									height $transition-small-duration $basic-transition unquote(',')
									border $transition-small-duration $basic-transition unquote(',')
									bottom $transition-small-duration $basic-transition unquote(',')
									margin $transition-small-duration $basic-transition unquote(',');
$slider-bubble-medium-transition:	background $transition-medium-duration $basic-transition unquote(',')
									width $transition-medium-duration $basic-transition unquote(',')
									height $transition-medium-duration $basic-transition unquote(',')
									border $transition-medium-duration $basic-transition unquote(',')
									bottom $transition-medium-duration $basic-transition unquote(',')
									margin $transition-medium-duration $basic-transition unquote(',');
$slider-bubble-large-transition:	background $transition-large-duration $basic-transition unquote(',')
									width $transition-large-duration $basic-transition unquote(',')
									height $transition-large-duration $basic-transition unquote(',')
									border $transition-large-duration $basic-transition unquote(',')
									bottom $transition-large-duration $basic-transition unquote(',')
									margin $transition-large-duration $basic-transition unquote(',');

$slider-bubble-triangle-small-transition: 	border-left $transition-small-duration $basic-transition unquote(',')
											border-right $transition-small-duration $basic-transition unquote(',')
											border-top $transition-small-duration $basic-transition unquote(',')
											top $transition-small-duration $basic-transition unquote(',');
$slider-bubble-triangle-medium-transition: 	border-left $transition-medium-duration $basic-transition unquote(',')
											border-right $transition-medium-duration $basic-transition unquote(',')
											border-top $transition-medium-duration $basic-transition unquote(',')
											top $transition-medium-duration $basic-transition unquote(',');
$slider-bubble-triangle-large-transition: 	border-left $transition-large-duration $basic-transition unquote(',')
											border-right $transition-large-duration $basic-transition unquote(',')
											border-top $transition-large-duration $basic-transition unquote(',')
											top $transition-large-duration $basic-transition unquote(',');

/**************************************
 * Textfields
 **************************************/
$textfield-width: 100%; // Default 100%;
$textfield-position: relative; // Default relative
$textfield-input-position: absolute; // Default absolute
$textfield-off-bottom: rem-calc(2px) solid $grey; // Default rem-calc(2px) solid $grey
$textfield-small-transition: all $transition-small-duration $basic-transition; // Default all $transition-small-duration $basic-transition
$textfield-medium-transition: all $transition-medium-duration $basic-transition; // Default all $transition-medium-duration $basic-transition
$textfield-large-transition: all $transition-large-duration $basic-transition; // Default all $transition-large-duration $basic-transition
$textfield-focus-bottom: rem-calc(2px) solid $main-color; // Default rem-calc(2px) solid $main-color
$textfield-focus-label: $main-color; // Default $main-color
$textfield-disabled-bottom: rem-calc(2px) dotted $grey; // Default rem-calc(2px) dotted $grey
$textfield-label-color: $grey; // Default $grey
$textfield-label-position: absolute; // Default absolute
$textfield-label-active-color: $grey; // Default $grey
$textfield-textarea-font-family: inherit; // Default inherit
$textfield-textarea-font-size: inherit; // Default inherit
$textfield-required-color: $red; // Default $red
$textfield-required-content: ' star'; // Default ' star'
$textfield-required-font-size: rem-calc(7px); // Default rem-calc(7px)
$textfield-required-vertical-align: super; // Default super

$textfield-floating-height: rem-calc(72px); // Default rem-calc(72px)
$textfield-floating-padding: rem-calc(16px) 0 rem-calc(8px) 0; // Default rem-calc(16px) 0 rem-calc(8px) 0
$textfield-floating-input-font-size: rem-calc(16px); // Default rem-calc(16px)
$textfield-floating-input-padding: rem-calc(8px) 0; // Default rem-calc(8px) 0
$textfield-floating-input-bottom: rem-calc(8px); // Default rem-calc(8px)
$textfield-floating-input-focus-label-font-size: rem-calc(12px); // Default rem-calc(12px)
$textfield-floating-input-focus-label-bottom: rem-calc(40px); // Default rem-calc(40px)
$textfield-floating-label-bottom: rem-calc(16px); // Default rem-calc(16px)
$textfield-floating-label-active-font-size: rem-calc(12px); // Default rem-calc(12px)
$textfield-floating-label-active-bottom: rem-calc(40px); // Default rem-calc(40px)

$textfield-floating-dense-height: rem-calc(60px); // Default rem-calc(60px)
$textfield-floating-dense-padding: rem-calc(12px) 0 rem-calc(4px) 0; // Default rem-calc(12px) 0 rem-calc(4px) 0
$textfield-floating-dense-input-font-size: rem-calc(13px); // Default rem-calc(13px)
$textfield-floating-dense-input-padding: rem-calc(4px) 0; // Default rem-calc(4px) 0
$textfield-floating-dense-input-bottom: rem-calc(12px); // Default rem-calc(12px)
$textfield-floating-dense-input-focus-label-bottom: rem-calc(29px); // Default rem-calc(29px)
$textfield-floating-dense-label-bottom: rem-calc(12px); // Default rem-calc(12px)
$textfield-floating-dense-label-active-font-size: rem-calc(13px); // Default rem-calc(13px)
$textfield-floating-dense-label-active-bottom: rem-calc(29px); // Default rem-calc(29px)

/**************************************
 * Tooltips
 **************************************/
$tooltip-background: $grey-700; // Default $grey-700
$tooltip-font-color: $white; // Default $white

/**************************************
 * Grid settings
 **************************************/
// Break points
$xsmall-screen: 480px; // Small mobile
$small-screen: 960px; // Small tablet, medium mobile
$medium-screen: 1280px; // Large tablet
$large-screen: 1600px; // Small desktop
$xlarge-screen: 1920px; // "Normal" desktop

// Columns
$xsmall-columns: 4; // Default 4
$small-columns: 8; // Default 8
$columns: 12; // Default 12

// Gutter
$gutter: 16px; // Default 16px
$large-gutter: 24px; // Default 24px

/**************************************
 * Icons
 **************************************/
$icon-font-path: './components/fonts/icons/';
$icon-size: rem-calc(24px); // Default rem-calc(24px)
$icon-align: middle; // Default middle
