.sm-sidenav {
	position: absolute;
	background: $white;
	padding: remCalc(24px) remCalc(16px) remCalc(24px) remCalc(16px);
	bottom: 0;
	@extend .sm-z1;

	// Left navigation
	&-left {
		@media #{$medium-down} {
			width: remCalc($sidenav-small-width);
			max-width: remCalc(320px);
			margin-right: remCalc(56px);
			display: none;
		}

		@media #{$medium-up} {
			width: remCalc($sidenav-width);
			max-width: remCalc(400px);
		}

		left: 0;

		// Full height sidenav
		&-full {
			top: remCalc(48px);

			@media #{$small-up} {
				top: remCalc(56px);
			}

			@media #{$medium-up} {
				top: 0;
			}
		}

		// Sidenav under navbar
		&-floating {
			top: remCalc(48px);

			@media #{$small-up} {
				top: remCalc(56px);
			}

			@media #{$medium-up} {
				top: remCalc(64px);
			}
		}
	}

	// Right navigation
	&-right {
		max-width: 100%;
		right: 0;
		top: remCalc(48px);

		@media #{$small-up} {
			top: remCalc(56px);
		}

		@media #{$medium-up} {
			top: remCalc(64px);
		}
	}

	&-divider {
		margin: remCalc(8px) (- remCalc(16px));
		height: remCalc(1px);
		background: rgba($black, .12); //http://www.google.com/design/spec/components/dividers.html#dividers-types-of-dividers
	}

	&-subheader {
		color: rgba($black, .54);
		font-weight: 500;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			&.sm-sidenav-drawer {
				margin: remCalc(-24px) remCalc(-16px) auto  remCalc(-16px);
				background: $lime;
				padding: remCalc(16px);
				height: auto;

				.sm-sidenav-drawer-img {
					width: 100%;
					height: remCalc(50px);
					margin-bottom: remCalc(5px);

					img {
						@extend .sm-circle;
						width: remCalc(50px);
						height: remCalc(50px);
					}
				}

				.sm-sidenav-drawer-info {
					height: remCalc(56px);

					> div {
						color: $white;
						font-size: remCalc(14px);
						height: remCalc(28px);
						width: 75%;
						max-width: 75%;
						line-height: remCalc(28px);
					}

					.sm-sidenav-drawer-name {
						font-weight: 500;
					}

					.sm-sidenav-drawer-email {
						font-weight: 400;
						float: left;
					}

					.sm-sidenav-drawer-button {
						width: 25%;
						float: left;

						.material-icons {
							color: $white;
							height: remCalc(28px);
							width: remCalc(28px);
							vertical-align: middle;
							line-height: remCalc(28px);
						}
					}
				}
			}

			&.sm-sidenav-dropdown {
				height: auto;
				cursor: pointer;

				.sm-arrow {
					width: auto;
				}
			}

			a {
				display: block;

				&:hover {
					color: $sidenav-hover;

					.material-icons {
						color: $sidenav-hover;
					}
				}
			}

			.material-icons {
				color: rgba($black, .54);
				line-height: remCalc(48px);
				height: remCalc(48px);
				width: remCalc(48px);
				vertical-align: middle;
			}
		}
	}
}