/**************************************
 * Sidenav
 *
 * https://www.google.com/design/spec/components/dividers.html#dividers-types-of-dividers
 * http://www.google.com/design/spec/layout/structure.html#structure-side-nav
 * http://www.google.com/design/spec/patterns/navigation-drawer.html
 */

.sm-sidenav {
	position: absolute;
	background: $white;
	padding: remCalc(16px) 0;
	bottom: 0;
	@extend .sm-z16;

	// Left navigation
	&-left {
		left: 0;

		@media #{$medium-down} {
			width: remCalc($sidenav-small-width);
			max-width: remCalc(320px);
			margin-right: remCalc(56px);
			display: none;
		}

		@media #{$medium-up} {
			width: remCalc($sidenav-width);
			max-width: remCalc(400px);
			display: block;
		}

		// Full height sidenav
		&-full {
			top: remCalc(48px);

			@media #{$small-up} {
				top: remCalc(56px);
			}

			@media #{$medium-up} {
				top: 0;
			}

			&-title {
				@extend .sm-title;
				display: none;

				@media #{$medium-up} {
					background: $sidenav-full-title-background;
					display: block;
					height: remCalc(64px);
					font-size: remCalc(24px);
					margin-top: - remCalc(16px);
					margin-bottom: 0;
					color: $sidenav-full-title-color;

					h1, h2, h3, h4, h5, h6 {
						padding: 0;
						margin: 0;
						font-size: remCalc(24px);
						color: $sidenav-full-title-color;
					}

					&:hover {
						background: $sidenav-full-title-background !important;
					}
				}
			}

			.sm-sidenav-drawer {
				@media #{$small-up} {
					margin: - remCalc(16px) 0 remCalc(8px) 0 !important;
				}

				@media #{$medium-up} {
					margin: 0 0 remCalc(8px) 0 !important;
				}
			}
		}

		// Sidenav under navbar
		&-floating {
			top: remCalc(48px);
			z-index: 10;

			@media #{$small-up} {
				top: remCalc(56px);
			}

			@media #{$medium-up} {
				top: remCalc(64px);
			}

			.sm-sidenav-left-full-title {
				display: none;
			}
		}
	}

	// Right navigation
	&-right {
		max-width: 100%;
		right: 0;
		top: remCalc(48px);

		@media #{$small-up} {
			top: remCalc(56px);
		}

		@media #{$medium-up} {
			top: remCalc(64px);
		}
	}

	&-divider {
		margin: remCalc(8px) 0;
		height: remCalc(1px);
		background: lighten($black, (100% - 12%)); //http://www.google.com/design/spec/components/dividers.html#dividers-types-of-dividers
	}

	&-subheader {
		@extend .sm-subhead-1;
		color: lighten($black, (100% - 54%));
		//font-weight: 500;

		&:hover {
			background: none !important;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding: 0 remCalc(16px);

			&:hover {
				background: $grey-200;
			}

			&.sm-sidenav-drawer {
				@extend .sm-row;
				margin: remCalc(-16px) 0 remCalc(8px) 0;
				padding: remCalc(16px) remCalc(16px) remCalc(8px) remCalc(16px);
				background: $lime;
				height: auto;

				div {
					padding: 0 !important;
				}

				.sm-sidenav-drawer-img {
					@extend .sm-col, .sm-s12;
					width: 100%;
					height: remCalc(50px);
					margin-bottom: remCalc(5px);

					img {
						@extend .sm-circle;
						width: remCalc(50px);
						height: remCalc(50px);
					}
				}

				.sm-sidenav-drawer-info {
					@extend .sm-col, .sm-s8;
					height: remCalc(56px);

					> div {
						@extend .sm-col, .sm-s12;
						color: $white;
						font-size: remCalc(14px);
						height: remCalc(28px);
						width: 75%;
						max-width: 75%;
						line-height: remCalc(28px);
					}

					.sm-sidenav-drawer-name {
						font-weight: 500;
					}

					.sm-sidenav-drawer-email {
						font-weight: 400;
					}
				}

				.sm-sidenav-drawer-button {
					@extend .sm-col, .sm-s4;
					height: remCalc(56px);

					a {
						text-align: right;
						.material-icons {
							margin-top: remCalc(28px);
							color: $white;
							height: remCalc(28px);
							width: remCalc(28px);
							vertical-align: middle;
							line-height: remCalc(28px);
						}
					}
				}
			}

			&.sm-sidenav-dropdown {
				height: auto;
				cursor: pointer;

				.sm-arrow {
					width: auto;
					position: absolute;
					right: remCalc(16px);
				}
			}

			&.sm-sidenav-footer {
				bottom: 0;
			   	position: absolute;

				&:hover {
					background: none;
				}
			}

			a {
				display: block;

				&:hover {
					color: $sidenav-hover;

					.material-icons {
						color: $sidenav-hover;
					}
				}
			}

			.material-icons {
				color: lighten($black, (100% - 54%));
				line-height: remCalc(48px);
				height: remCalc(48px);
				width: remCalc(48px);
				vertical-align: middle;
			}
		}

		ul {
			margin-left: remCalc(10px);
		}
	}
}