/**************************************
 * Sliders
 *
 * http://www.google.com/design/spec/components/sliders.html
 **************************************/

input[type="range"] {
	-webkit-appearance: none;
	outline: none;
	height: remCalc(1.5px);
	background: lighten($black, (100% - 26%));
	margin: 0;

	&:hover {
		cursor: pointer;
	}

	// Track
	&::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		height: remCalc(1.5px);
		@include transition($slider-track-small-transition);

		@media #{$medium-up} {
			@include transition($slider-track-medium-transition);
		}

		@media #{$large-up} {
			@include transition($slider-track-large-transition);
		}

		&:focus, &:active {
			background: $main-color;
		}
	}

	&::-moz-range-track, &::-ms-track {
		height: remCalc(1.5px);
		@include transition($slider-track-small-transition);

		@media #{$medium-up} {
			@include transition($slider-track-medium-transition);
		}

		@media #{$large-up} {
			@include transition($slider-track-large-transition);
		}

		&:focus, &:active {
			background: $main-color;
		}
	}

	// Thumb
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: $white;
		@include border-radius(50%);
		@include transition($slider-thumb-small-transition);
		height: remCalc(14px);
		width: remCalc(14px);
		border: remCalc(2px) solid lighten($black, (100% - 26%));
		margin: remCalc(-6px) 0 0 0;

		@media #{$medium-up} {
			@include transition($slider-thumb-medium-transition);
		}

		@media #{$large-up} {
			@include transition($slider-track-large-transition);
		}

		&:focus, &:active {
			background: $main-color;
			border: remCalc(2px) solid $main-color;
			height: remCalc(16px);
			width: remCalc(16px);
			margin: remCalc(-7px) 0 0 0;
		}
	}

	&::-moz-range-thumb, &::-ms-thumb  {
		background: $white;
		@include border-radius(50%);
		@include transition($slider-thumb-small-transition);
		height: remCalc(14px);
		width: remCalc(14px);
		border: remCalc(2px) solid lighten($black, (100% - 26%));
		margin: remCalc(-6px) 0 0 0;

		@media #{$medium-up} {
			@include transition($slider-thumb-medium-transition);
		}

		@media #{$large-up} {
			@include transition($slider-track-large-transition);
		}

		&:focus, &:active {
			background: $main-color;
			border: remCalc(2px) solid $main-color;
			height: remCalc(16px);
			width: remCalc(16px);
			margin: remCalc(-7px) 0 0 0;
		}
	}

	&:disabled, &.sc-disabled {
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: lighten($black, (100% - 26%));
			@include border-radius(50%);
			height: remCalc(14px);
			width: remCalc(14px);
			border: remCalc(2px) solid $white;
			margin: remCalc(-6px) 0 0 0;
		}

		&::-moz-range-thumb, &::-ms-thumb {
			background: lighten($black, (100% - 26%));
			@include border-radius(50%);
			height: remCalc(14px);
			width: remCalc(14px);
			border: remCalc(2px) solid $white;
			margin: remCalc(-6px) 0 0 0;
		}

		&:active, &:focus {
			&::-webkit-slider-runnable-track {
				background: none;
			}

			&::-moz-range-track, ::-ms-track {
				background: none;
			}
		}
	}
}

.sc-range {
	display: inline-block;
	position: relative;
	// Hide track
	input[type="range"] {
		position: relative;
		z-index: 3;
		background: transparent;

		/// Track
		&::-webkit-slider-runnable-track {
			&:focus, &:active {
				background: transparent;
			}
		}

		&::-moz-range-track, &::-ms-track {
			&:focus, &:active {
				background: transparent;
			}
		}

		&.sc-slider-discrete {
			// Thumb
			&::-webkit-slider-thumb {
				background: transparent;
				border: remCalc(2px) solid transparent;
			}

			&::-moz-range-thumb, &::-ms-thumb {
				background: transparent;
				border: remCalc(2px) solid transparent;
			}

			&.sc-not-null {
				&::-webkit-slider-thumb {
					background: transparent;
					border: remCalc(2px) solid transparent;
				}

				&::-moz-range-thumb, &::-ms-thumb {
					background: transparent;
					border: remCalc(2px) solid transparent;
				}
			}
		}

		// When thumb over 0%
		&.sc-not-null {
			&::-webkit-slider-thumb {
				@include border-radius(50%);
				background: $main-color;
				border: remCalc(2px) solid $main-color;
				height: remCalc(14px);
				width: remCalc(14px);
				margin: remCalc(-6px) 0 0 0;

				&:active, &:focus {
					height: remCalc(16px);
					width: remCalc(16px);
					margin: remCalc(-7px) 0 0 0;
				}
			}

			&::-moz-range-thumb, &::-ms-thumb {
				@include border-radius(50%);
				background: $main-color;
				border: remCalc(2px) solid $main-color;
				height: remCalc(14px);
				width: remCalc(14px);
				margin: remCalc(-6px) 0 0 0;

				&:active, &:focus {
					height: remCalc(16px);
					width: remCalc(16px);
					margin: remCalc(-7px) 0 0 0;
				}
			}
		}
	}

	.sc-range-track {
		margin-top: remCalc(-27px);
		width: 100%;
		height: remCalc(1.5px);
		position: relative;
		z-index: 1;

		> div {
			display: inline-block;
			height: 100%;
		}

		.sc-range-track-before {
			background: $main-color;
		}

		.sc-range-track-after {
			background: lighten($black, (100% - 26%));
		}
	}

	&:active, &:focus {
		.sc-slider-bubble {
			@include border-radius(50%);
			background: lighten($black, (100% - 26%));
			color: $white;
			width: remCalc(25px);
			height: remCalc(25px);
			text-align: center;
			border: none;
			font-size: remCalc(10px);
			bottom: remCalc(1.4px);
			margin: 0 0 0 remCalc(-12.5px);

			&:before {
				border-left: remCalc(10px) solid transparent;
				border-right: remCalc(10px) solid transparent;
				border-top: remCalc(10px) solid lighten($black, (100% - 26%));
				top: remCalc(21px);
				right: remCalc(3.5px);
			}

			&.sc-not-null {
				@include border-radius(50%);
				background: $main-color;
				color: $white;
				width: remCalc(25px);
				height: remCalc(25px);
				text-align: center;
				border: none;
				font-size: remCalc(10px);
				bottom: remCalc(1.4px);
				margin: 0 0 0 remCalc(-12.5px);

				&:before {
					border-left: remCalc(10px) solid transparent;
					border-right: remCalc(10px) solid transparent;
					border-top: remCalc(10px) solid $main-color;
					top: remCalc(21px);
					right: remCalc(3.5px);
				}
			}
		}
	}

	.sc-slider-bubble {
		@include border-radius(50%);
		@include transition($slider-bubble-small-transition);
		background: $black;
		color: $white;
		width: remCalc(14px);
		height: remCalc(14px);
		border: remCalc(2px) solid $black;
		font-size: 0;
		position: absolute;
		bottom: remCalc(-25px);
		margin: 0;
		z-index: 2;

		@media #{$medium-only} {
			@include transition($slider-bubble-medium-transition);
		}

		@media #{$large-up} {
			@include transition($slider-bubble-large-transition);
		}

		&:before {
			@include transition($slider-bubble-triangle-small-transition);
			content: '';
			width: 0;
			height: 0;
			border-left: none;
			border-right: none;
			border-top: none;
			top: 0;
			right: 0;
			position: absolute;

			@media #{$medium-only} {
				@include transition($slider-bubble-triangle-medium-transition);
			}

			@media #{$large-up} {
				@include transition($slider-bubble-triangle-large-transition);
			}
		}

		&.sc-not-null {
			@include border-radius(50%);
			@include transition($slider-bubble-small-transition);
			background: $main-color;
			color: $white;
			width: remCalc(14px);
			height: remCalc(14px);
			border: 2px solid $main-color;
			font-size: 0;
			position: absolute;
			bottom: remCalc(-25px);
			margin: 0;
			z-index: 2;

			@media #{$medium-only} {
				@include transition($slider-bubble-medium-transition);
			}

			@media #{$large-up} {
				@include transition($slider-bubble-large-transition);
			}

			&:before {
				@include transition($slider-bubble-triangle-small-transition);
				content: '';
				width: 0;
				height: 0;
				border-left: none;
				border-right: none;
				border-top: none;
				top: 0;
				right: 0;
				position: absolute;

				@media #{$medium-only} {
					@include transition($slider-bubble-triangle-medium-transition);
				}

				@media #{$large-up} {
					@include transition($slider-bubble-triangle-large-transition);
				}
			}
		}
	}

	&.sc-disabled {
		input[type="range"] {
			&::-webkit-slider-thumb {
				background: $white;
				border: 2px solid lighten($black, (100% - 26%));
			}

			&::-moz-range-thumb, &::-ms-thumb {
				background: $white;
				border: 2px solid lighten($black, (100% - 26%));
			}

			&.sc-not-null {
				&::-webkit-slider-thumb {
					background: lighten($black, (100% - 26%));
					border: 2px solid $white;
				}

				&::-moz-range-thumb, &::-ms-thumb {
					background: lighten($black, (100% - 26%));
					border: 2px solid $white;
				}
			}

			&.sc-slider-discrete {
				// Thumb
				&::-webkit-slider-thumb {
					background: transparent;
					border: remCalc(2px) solid transparent;
				}

				&::-moz-range-thumb, &::-ms-thumb {
					background: transparent;
					border: remCalc(2px) solid transparent;
				}
			}
		}

		.sc-range-track-before {
			background: lighten($black, (100% - 26%));
		}

		.sc-slider-bubble {
			background: lighten($black, (100% - 26%));
			border: remCalc(2px) solid $white;
		}

		&:active, &:focus {
			.sc-slider-bubble {
				background: lighten($black, (100% - 26%));
				border: remCalc(2px) lighten($black, (100% - 26%));

				&:before {
					border-left: remCalc(10px) solid transparent;
					border-right: remCalc(10px) solid transparent;
					border-top: remCalc(10px) solid lighten($black, (100% - 26%));
				}
			}
		}
	}
}